{{ define "hrm/search.tmpl" }}
{{ template "global/header.tmpl" }}

<h4>Search results</h4>
{{ range .found }}
<a href="/hrm/connect/{{ . }}">{{ . }}</a>
{{ else }}
    <p>No devices found!</p>
    <a href="/hrm/search">Search</a>
{{ end }}


{{ template "global/footer.tmpl" }}
{{ end }}