{{ define "hrm/search.tmpl" }}
{{ template "global/header.tmpl" }}

<h4>Search results</h4>
{{ range .found }}
<a href="/hrm/connect/{{ . }}">{{ . }}</a>
{{ else }}
    <p>No devices found!</p>
{{ end }}
    <a href="/hrm/search">Search again</a>


{{ template "global/footer.tmpl" }}
{{ end }}